<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.find.doc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name="com.find.doc.DoctorOffLine"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Doctor">
        <activity
            android:name="com.find.doc.activities.NoNetworkActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.BmiActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.ClinicDetails"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.ClinicActivity"
            android:exported="false" />

        <receiver
            android:name="com.find.doc.util.AppointmentReminderReceiver"
            android:exported="true" />

        <activity
            android:name="com.find.doc.activities.AppointmentActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.ProfileUpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.InfoActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.LocationSelectActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.find.doc.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCpRQ_QYtM1MQ9Xrp1eG-0FWs87yvlHPCM" />

        <activity
            android:name="com.find.doc.activities.AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.DocumentShareActivity"
            android:exported="false" />
        <activity
            android:name="com.find.doc.activities.OtpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.find.doc.activities.DocumentDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.find.doc.activities.ProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.find.doc.activities.SignupActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.find.doc.activities.HomeActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.find.doc.activities.DoctorListActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name="com.find.doc.activities.DetailsActivity" />
        <activity
            android:name="com.find.doc.activities.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.find.doc.activities.CategoryListActivity" />
        <activity
            android:name="com.find.doc.activities.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>